<?xml version="1.0" encoding="utf-8"?>
<!--
  Sadece DEBUG build icin gecerli manifest eklentisi (Gradle manifest
  merger otomatik birlestirir). Debug build gelistirme sunucusuna
  (http://10.0.2.2:8000) duz HTTP ile baglandigi icin cleartext trafik
  burada acik - release manifestine hic karismaz, sadece debug APK'ya
  uygulanir.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="true" />
</manifest>
